:root {
  --gray: rgb(189, 189, 189);
  --border-inputs: 1px solid var(--gray);
}

html {
  font-size: 62.5%;
}


*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

h1 {
  text-align: center;
  margin: 3rem 0;
  font-size: 4rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2rem;
}

input, select {
  padding: 1.5rem;
  min-width: 26rem;
  border: var(--border-inputs);
  border-radius: 1rem;
  font-size: 2rem;
  margin-right: 1rem;
}

button {
  border: var(--border-inputs);
  color: var(--gray);
  padding: 0.5rem;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

#addModelButton {
  color: green;
}

table {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

td:last-child {
  font-size: 8rem;
}

td:last-child:hover {
  cursor: pointer;
}